<tr>
    <td style="vertical-align: top; padding: 20px 15px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 19px; text-align: left; color: {{ textC }}">
        <span>Lorem</span> <span>ipsum</span> <span>dolor</span> <span>sit</span> <span>amet.</span>
    </td>
</tr>
