<tr>
    <td style="vertical-align: top;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="vertical-align: top; text-align: center; font-size: 0;">

                    {{ mx.msStart('100%', '110', 'top') }}

                    <table border="0" cellpadding="0" cellspacing="0" width="110" style="display: inline-block; vertical-align: top;">
                        <tr>
                            <td style="vertical-align: top;" width="110">
                                {# контент колонки #}
                            </td>
                        </tr>
                    </table>{{    mx.msStep(90, 'top')    }}<table border="0" cellpadding="0" cellspacing="0" width="90" style="display: inline-block; vertical-align: top;">
                        <tr>
                            <td style="vertical-align: top;" width="90">
                                {# контент колонки #}
                            </td>
                        </tr>
                    </table>{{    mx.msStep(105, 'top')    }}<table border="0" cellpadding="0" cellspacing="0" width="105" style="display: inline-block; vertical-align: top;">
                        <tr>
                            <td style="vertical-align: top;" width="105">
                                {# контент колонки #}
                            </td>
                        </tr>
                    </table>

                    {{ mx.msEnd() }}

                </td>
            </tr>
        </table>
    </td>
</tr>
