{% macro exampleComponent(data) %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
        <tr>
            <td style="vertical-align: top;">
                {{ data.title }}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                {{ data.text }}
            </td>
        </tr>
    </table>
{% endmacro %}

